{% extends 'common/base.html' %}


{% block content %}
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    {{ formset.management_form }}
    {% for form2 in formset %}
      {% for field in form2 %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    {% endfor %}
    <button class = "primary ui button" type="submit">Submit</button>
  </form>
  
{% endblock %}