<div>
  <form method="post" class = "ui form">
    {% csrf_token %}

    {% for field in form %}
      <div class = "field">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    {{ formset.management_form }}
    {% for form2 in formset %}
      {% for field in form2 %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    {% endfor %}
    <button type="submit" class = "ui button primary">Submit</button>
    <a href = "/" class = "ui button negative"> Cancel </a>
  </form>
</div>