{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <style type="text/css">
        .errorlist {
            color: red;
        }
        body {
        background-color: #ffffff;
        }
        .menu-set {
            margin-bottom: 0rem !important;
            margin-top: 0rem !important;
        }
        .header-button {
            background: none;
            border: none;
            display: block;
            width: 100%;
            text-align: left;
            cursor: pointer;
        }
        .button-form {
            margin: 0px;
            padding: 0px;
            display: inline;
        }
        .header-button:hover {
            background-color: rgba(0,0,0,.03) !important;
        }
        @media (max-width: 767px) {
            .hide-on-mobile {
                display: none !important;
            }
        }
    </style>

    {% block head %}

    {% endblock %}
</head>

<body>

    <div class="ui labeled icon left inline vertical sidebar menu"">
        <div class="item" style="height: 52.57px; display: grid; place-items: center;">
            <img src="{% static 'favicon-32x32.png' %}">
        </div>
        <a class="item" href="{% url 'events:dashboard' %}">
            <i class="home icon"> </i>
            Dashboard
        </a>
        <a class="item" href="{% url 'invoices:summary' %}">
            <i class="credit card icon"></i>
            My Invoices
        </a>
        <a class="item" href="{% url 'association:membership' %}">
            <i class="briefcase icon"></i>
            Association Membership
        </a>
        {% if user.is_staff %}
        <a class="item" href="{% url 'events:summaryReport' %}">
            <i class="eye icon"></i>
            Summary Report
        </a>
        <a class="item" href="{% url 'admin:index' %}">
            <i class="id badge icon"></i>
            Admin
        </a>

        {% endif %}
        {% if environment is not None %}
        <span class="item" style="color:red;">
            <i class="important"></i>
            <b>{{environment}}</b>
        </span>
        {% endif %}
    </div>
    <div class="ui top massive fixed menu">
        <a class="item" style="margin-right:1rem;" onclick = "toggleSidebar()">
            <i class="sidebar icon"></i>

        </a>
        <div class = "ui tablet only computer only grid menu-set">
            <a class="item" href="{% url 'events:dashboard' %}">
                <i class="home icon"></i>
                Dashboard
            </a>
            <a class="item" href="{% url 'invoices:summary' %}">
                <i class="credit card icon"></i>
                My Invoices
            </a>
        </div>
        <div class = "right menu">
            {% if environment is not None %}
            <span class="item hide-on-mobile" style="color:red; max-width:48%" >
                <i class="important"></i>
                <b>{{environment}}</b>
            </span>
            {% endif %}
            {% if user.is_staff %}
            <a class="item hide-on-mobile" href="{% url 'admin:index' %}" style="max-width:48%" >
                <i class="id badge icon"></i>
                Admin
            </a>
            {% endif %}
            {% if user.schooladministrator_set.count > 1 %}
                <div class="ui dropdown simple item" >
                    <span style="width:6em; overflow: hidden; text-wrap: nowrap; text-overflow: ellipsis;">
                    {% if user.currentlySelectedSchool %}
                    {{ user.currentlySelectedSchool.name }}
                    {% else %}
                    School
                    {% endif %}
                    </span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for schoolAdmin in user.schooladministrator_set.all %}
                                <form method="post" action="{% url 'schools:setCurrentSchool' schoolAdmin.school.id %}" class="button-form">
                                    {% csrf_token %}
                                    <input class="header-button item" type="submit" value="{{ schoolAdmin.school.name }}"/>
                                </form>
                            {% endfor %}
                        </div>
                </div>
            {% endif %}
            <div class="ui dropdown simple item" >
                <i class="user circle icon"></i>
                <span style="max-width:15vw; overflow: hidden; text-wrap: nowrap; text-overflow: ellipsis;">
                {{ user.fullname_or_email }}
                </span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{% url 'users:details' %}" class="item">My details</a>
                        {% if user.currentlySelectedSchool %}<a href="{% url 'schools:details' %}" class="item">School details</a>{% endif %}
                        <a href = "{% url 'password_change' %}" class="item">Change password</a>
                        <form method="post" action="{% url 'logout' %}" class="button-form">
                            {% csrf_token %}
                            <input class="header-button item" type="submit" value="Log out"/>
                        </form>
                        <a href = "{% url 'users:termsAndConditions' %}" class="item">Terms and Conditions</a>
                        {% if user.is_staff %}<a href = "{% url 'users:adminChangelog' %}" class="item">Admin Changelog</a>{% endif %}
                    </div>
            </div>
        </div>
    </div>
    <div class="pusher" style="padding-bottom:3rem;">
        <div style="margin-bottom:6rem;"> </div>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <a href="https://robocupjunior.org.au">RoboCup Junior Australia</a>
        <span> - </span>
        <a href="mailto:digitalplatforms@robocupjunior.org.au?subject=Support%2FFeedback%3A%20Registration%20System">Support and Feedback</a>
        <span> - </span>
        <a href="https://rcja.app/contributors">Contributors</a>
        <span> - </span>
        <a href="https://rcja.app">RCJA Portal</a>
        <span> - </span>
        <a href="https://facebook.com/robocupjunioraustralia/"><i class="facebook icon"></i></a>
        <a href="https://instagram.com/robocupjunioraustralia"><i class="instagram icon"></i></a>
        <a href="https://twitter.com/rcj_australia"><i class="twitter icon"></i></a>
        <a href="https://linkedin.com/company/rcja"><i class="linkedin icon"></i></a>
        <a href="https://youtube.com/user/RobocupJuniorAust"><i class="youtube icon"></i></a>
    </footer>
</body>

<style>
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 24px;
    text-align: center;
    background-color: #CCC;
    font-size: 16px;
}

footer a {
    color: #222;
}

footer a:not(:has(i)) {
    text-decoration: underline;
}

footer span {
    margin-left: 10px;
    margin-right: 10px;
}

footer i {
    text-decoration: none;
}
</style>

<script>
function toggleSidebar() {
$('.ui.labeled.icon.sidebar')
  .sidebar('toggle');
}
</script>
