<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <style type="text/css">
        body {
        background-color: #ffffff;
        }

    </style>

    {% block head %}

    {% endblock %}
</head>

<body>
        <div class="ui top massive menu">
                <div class="item">
                  <img src="{% static 'favicon-32x32.png' %}">
                </div>
                <a class="item" href="/">
                    <i class="home icon"></i>
                    Home
                </a>  
                <a class="item" href="/">
                    <i class="users icon"></i>
                    My Teams
                </a>  
                <a class="item" href="/">
                    <i class="user icon"></i>
                    My Students
                </a>       
                <a class="item" href="/">
                    <i class="money icon"></i>
                    My Invoices
                </a>                                                
                <div class = "right menu">
                    {% if user.is_staff %}
                    <a class="item" href="{% url 'admin:index' %}">
                        <i class="id badge icon"></i>
                        Manage organisation
                    </a>     
                    {% endif %}
                    <div class="ui dropdown simple item">
                        <i class="user circle icon"></i>
                        {% if user.get_full_name %} 
                            {{ user.get_full_name }}
                            {% else %}
                            {{user.username}}
                        {% endif %}
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              <a class="item">My Details</a>
                              <a href = "{% url 'logout' %}" class="item">Log out</a>
                              <a class="item">Help</a>
                            </div>
                    </div>             
                </div>

        </div>


    <div class="pusher">
        <div style="margin-bottom:3%;"> </div>
        {% block content %}
        {% endblock %} 
    </div>
</body>
      
    
