<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <style type="text/css">
        body {
        background-color: #ffffff;
        }
        .menu-set {
            margin-bottom: 0rem !important;
            margin-top: 0rem !important;
        }
    </style>

    {% block head %}

    {% endblock %}
</head>

<body>

    <div class="ui labeled icon left inline vertical sidebar menu">
        <div class="item">
            <img src="{% static 'favicon-32x32.png' %}">
        </div>
        <a class="item" href="/">
            <i class="home icon"></i>
            Dashboard
        </a>  
        <!-- <a class="item" href="{% url 'events:loggedInConstruction' %}">
            <i class="calendar alternate icon"></i>
            My Events
        </a>  
        <a class="item" href="{% url 'events:loggedInConstruction' %}">
            <i class="users icon"></i>
            My Teams
        </a>  
        <a class="item" href="{% url 'events:loggedInConstruction' %}">
            <i class="user icon"></i>
            My Students
        </a>        -->
        <a class="item" href="{% url 'invoices:summary' %}">
            <i class="credit card icon"></i>
            My Invoices
        </a>   
        {% if user.is_staff %}
        <a class="item" href="{% url 'admin:index' %}" >
            <i class="id badge icon"></i>
            Admin
        </a>     
        {% endif %}
        <div class="vertical menu item" >
            <i class="user circle icon"></i>
            <span style="width:3.5rem;overflow: hidden; text-overflow: ellipsis;">
            {{ user.fullname_or_email }}
            </span>
                <div class="menu">
                    <a href="{% url 'users:details' %}" class="item">My details</a>
                    {% if user.currentlySelectedSchool %}<a href="{% url 'schools:details' %}" class="item">School details</a>{% endif %}
                    <a href = "{% url 'password_change' %}" class="item">Change password</a>
                    <a href = "{% url 'logout' %}" class="item">Log out</a>
                    <a href = "{% url 'users:termsAndConditions' %}" class="item">Terms and Conditions</a>
                    <a class="item">Help</a>
                </div>
        </div>      
    </div>
    <div class="ui top massive fixed menu">
        <a class="item" style="margin-right:1rem;" onclick = "toggleSidebar()">
            <i class="sidebar icon"></i>
            
        </a>
        <div class = "ui tablet only computer only grid menu-set">
            <a class="item" href="/">
                <i class="home icon"></i>
                Dashboard
            </a>  
            <a class="item" href="{% url 'invoices:summary' %}">
                <i class="credit card icon"></i>
                My Invoices
            </a>                          
        </div>
        <div class = "right menu">
            {% if user.is_staff %}
            <a class="item" href="{% url 'admin:index' %}" style="max-width:48%" >
                <i class="id badge icon"></i>
                Admin
            </a>
            {% endif %}
            {% if user.schooladministrator_set.count > 1 %}
                <div class="ui dropdown simple item" >
                    <span style="width:3.3em; overflow: hidden; text-overflow: ellipsis;">
                    {% if user.currentlySelectedSchool %}
                    {{ user.currentlySelectedSchool.abbreviation }}
                    {% else %}
                    School
                    {% endif %}
                    </span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for schoolAdmin in user.schooladministrator_set.all %}
                                <a href="{% url 'schools:setCurrentSchool' schoolAdmin.school.id %}" class="item">{{ schoolAdmin.school.abbreviation }}</a>
                            {% endfor %}
                        </div>
                </div>
            {% endif %}
            <div class="ui dropdown simple item" >
                <i class="user circle icon"></i>
                <span style="max-width:15vw; overflow: hidden; text-overflow: ellipsis;">
                {{ user.fullname_or_email }}
                </span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{% url 'users:details' %}" class="item">My details</a>
                        {% if user.currentlySelectedSchool %}<a href="{% url 'schools:details' %}" class="item">School details</a>{% endif %}
                        <a href = "{% url 'password_change' %}" class="item">Change password</a>
                        <a href = "{% url 'logout' %}" class="item">Log out</a>
                        <a href = "{% url 'users:termsAndConditions' %}" class="item">Terms and Conditions</a>
                        <a class="item">Help</a>
                    </div>
            </div>
        </div>             
    </div>
    <div class="pusher" style="padding-bottom:3rem;">
        <div style="margin-bottom:6rem;"> </div>
        {% block content %}
        {% endblock %} 
    </div>
<div class="footer">
  <p>RCJA Registration System. This site is in beta. View the source on <a href = "https://github.com/MelbourneHighSchoolRobotics/RCJA_Registration_System"> GitHub. </a></p>
</div></body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height:1rem;
  margin-top:1rem;
  background-color: #c9c9c9;
  color: black;
  text-align: center;
}
</style>


    
<script>
function toggleSidebar() {
$('.ui.labeled.icon.sidebar')
  .sidebar('toggle');
}
</script>