{% load static %}

<style>
body {
background-color: #ffffff;
}

.column {
max-width: 100%;
}

.logincontent {
padding-top: 10%;
}

.bg {
background-image: url("{% static 'homeimage2.jpg' %}");
/* Full height */
height: 100%;
width: auto;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/*background-color: #CCE2FF;*/

}

.layer {
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.left-aligned-text {
text-align: left;
}
</style>
