version: '3'

services:
  web:
    image: rcja-registration:development
    build: .
    ports:
      - 8000:8000
    volumes:
      - ./rcjaRegistration:/app
    environment:
      - DEBUG=true
      - SECRET_KEY=u75_y555kb_-11g)u3f&3z5bk&+noj0!a4ddo8_8a%oqe6&tu!
