certifi==2019.11.28
chardet==3.0.4
Django==3.0.3
django-appconf==1.0.3
django-axes==5.2.2
django-environ==0.4.5
django-ipware==2.1.0
django-keyvaluestore==0.3
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
idna==2.9
psycopg2-binary==2.8.4
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.0.1
