{% load widget_tweaks %}
<div class = "ui segment">
    <h4 class="ui dividing header">Student {{forloop.counter}}</h4>
    {% if studentform.errors %}
      <div class="ui message left-aligned-text">
          <p class = "header">There were some errors in the information you entered. Please correct the following:</p>
          <ul>
                  {% for field in studentform %}
                    {% if field.errors %}
                      <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                  {% endfor %}
          </ul>

      </div>
    {% endif %}

    <div class = "two fields">
      <div class = "field">
        {{studentform.firstName.label_tag}}
        {{studentform.firstName}}
            
      </div>
      <div class = "field">
        {{studentform.lastName.label_tag}}
        {{studentform.lastName}}
            
      </div>
    </div>
    <div class = "four fields">
      <div class="field"> 
        {{studentform.yearLevel.label_tag}}
        {{studentform.yearLevel}}
            
      </div>
      <div class="field">
        {{studentform.birthday.label_tag}}
        {{studentform.birthday|attr:"type:date"|attr:"placeholder:yyyy-mm-dd"}}
            
      </div>
      <div class="field">
        {{studentform.gender.label_tag}}
        {{studentform.gender}}
            
      </div>
      {% if formset.can_delete %}
      <div class="field">
          <label> Remove this student?</label>
            {{studentform.DELETE}} <span>This will delete this student from the team record</span>
        </div>
      {% endif %}
    </div>
  </div>