{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> {{name}} Registrations</title>

{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>{{name}} Registrations</h1>
    </div>
    <br>
    <div class="row">
        <h2>Divisions</h2>
    </div>
    <div class="row">
        <table class="ui celled table">
            <thead><tr>
                <th>Category</th>
                <th>Division</th>
                <th>Teams</th>
                <th>Students</th>
            </tr></thead>
            <tbody>
                {% for division_cat in division_categories.values %}
                    <tr>
                        <td rowspan={{division_cat.rows}}>{{division_cat.name}}</td>
                    {% for division in division_cat.divisions %}
                        <td style="border-left: 1px solid rgba(34,36,38,.1);">{{division.name}}</td>
                        <td>{{division.teams}}</td>
                        <td>{{division.students}}</td>
                    </tr>
                    <tr>
                    {% endfor %}
                        <td style="border-left: 1px solid rgba(34,36,38,.1);">Subtotal</td>
                        <td>{{division_cat.teams}}</td>
                        <td>{{division_cat.students}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr><th colspan="2">Total</th>
                <th>{{division_teams}}</th>
                <th>{{division_students}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <div class="row">
        <h2>Schools</h2>
    </div>
    <div class="row">
        <table class="ui celled table">
            <thead>
            <tr><th>School</th>
            <th>Teams</th>
            <th>Students</th>
            </tr></thead>
            <tbody>
                {% for school in schools %}
                <tr>
                    <td>{{school.name}}</td>
                    <td>{{school.teams}}</td>
                    <td>{{school.students}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr><th>Total</th>
                <th>{{school_teams}}</th>
                <th>{{school_students}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <div class="row">
        <a href="{% url 'events:eventAdminSummary' %}"><button class="ui primary button">Compare Other Events</button></a>
    </div>
</div>
{% endblock %}
