{% extends 'common/loggedInbase.html' %}

{% block head %}

<title>Event Comparisons</title>

{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>Event Comparisons</h1>
    </div>
    <br>
    <div class="row">
        <div class="form form-group left-aligned-text">
            {% if form.non_field_errors %}

            <!-- Error messaging -->
            <div class="ui message left-aligned-text">
                <div class="">
                    <p class="header">There were some errors in the information you entered. Please correct
                        the following:</p>
                    {{ form.non_field_errors }}
                </div>
            </div>
            <!-- /Error messaging -->
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <h2>{{form.competitions.label_tag}}</h2>
                    <p>{{form.competitions}}</p>
                </div>
                <br>
                <div class="row">
                    <h2>{{form.workshops.label_tag}}</h2>
                    <p>{{form.workshops}}</p>
                </div>
                <br>
                <input class="ui primary button" type="submit" value="Compare Selected Events">
            </form>
        </div>
    </div>

    <br>
    <div class="row">
        <a href="{% url 'events:adminCompetitionCsv' %}"><button class="ui primary button">Download Competition CSV</button></a>
        <a href="{% url 'events:adminWorkshopCsv' %}"><button class="ui primary button">Download Workshop CSV</button></a>
    </div>

</div>

{% endblock %}