{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> RCJA Home </title>

<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }

    .upComingImageContainer{
        height: 17rem;
        width: 100%;
        background-color:gray;
    }
    .upComingEventImage{
        height: 17rem;
        width: 100%;
        background-color: gray;
    }
    .mapContainer{
        height: 10rem;
        background-color:gray;
        border: 1px solid lightgray;
    }
    .mapImage{
        height: 10rem;
        width: 100%;
    }
    .floatRight{
        float:right;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
    }
    .lightGrayBackground{
        background-color:lightgray !important;
    }
    .whiteBackGround {
        background-color:white !important;
    }

    .smallBottomPad {
        padding-bottom: 2rem !important;
    }
    .noPadding {
        padding: none !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h3>You are currently interacting as {{ request.user.currentlySelectedSchool.name|default:"independent" }}.</h3><br>
    </div>
    <div class="row">
        {% if outstandingInvoices %}
            <div class="ui icon message">
            <i class="ui dollar icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
               <a href = "{% url 'invoices:summary' %}"> <span>
                   {% if outstandingInvoices == 1 %}
                   There is {{ outstandingInvoices }} invoice requiring your attention.
                   {% else %}
                   There are {{ outstandingInvoices }} invoices requiring your attention.
                   {% endif %}
                </span></a>
            </div>
        </div>  
        {% else %}

        <div class="ui icon message">
            <i class="thumbs up icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
              <p>All payments are up to date, no action required.</p>
            </div>
        </div>   
        {% endif %}
         </div>
    <br>
    <div class="row">
        <h1>Your Events:</h1>
    </div>
    <br>
   
    <div class="row"> 
        <div class = "ui segment lightGrayBackground">
            <h3> Your next Event </h3>
        <div class = "ui divider"> </div>
        <div class = "ui stackable grid">
            <div class = "ui row">
                <div class = "ui four wide column noPadding">
                    <div class = "upComingImageContainer"> 
                        <img class = "upComingEventImage" src = "https://upload.wikimedia.org/wikipedia/commons/f/f7/Melbourne_and_the_Yarra.jpg">
                    </div>
                </div>
                <div class = "ui twelve wide column stackable grid whiteBackGround">
                    <div class = "ui six wide column">
                        <div class = "row">
                            <div class = "row">
                                <h4> Robocup States 2019 </h4> 
                            </div>
                            <div class = "row">
                                <i class = "calendar icon"> </i> Begins in 6 months
                            </div>
                            <div class = "row">
                                <i class = "location arrow icon"> </i> 22 Forest Hill South Yarra VIC 3010
                            </div>
                            <div class = "row">
                                <i class = "user icon"> </i> 9898 attending
                            </div>
                        </div>
                    </div>
                    <div class = "ui five wide column"> 
                        <div class = "ui icon message">
                        <i class ="dollar sign icon"></i>
                        <div class = "content">
                            Payment Complete
                            <a href = "#"> View Invoice </a>
                        </div>
                        </div>
                    </div>

                    <div class = "ui four wide column">
                        <div class = "mapContainer">
                            <img class = "mapImage" src = "https://www.google.com/maps/about/images/mymaps/mymaps-desktop-16x9.png">
                        </div>
                    </div>
                    <div class = "ui row divider smallBottomPad">
                        <span> <i class = "user icon"></i> 10 Registered, 2 Teams </span>
                        <div class = "floatRight"> <a href = "#" class = "ui button primary">View Event </a> </div>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>

</div>
{% endblock %}