{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> RCJA Home </title>

<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h3>You are currently interacting as {{ request.user.currentlySelectedSchool.name|default:"independent" }}.</h3><br>
    </div>
    <div class="row">
        <h1>Invoices:</h1> 
        {% if outstandingInvoices %}
            <div class="ui icon message">
            <i class="ui dollar icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
               <a href = "{% url 'invoices:summary' %}"> <span>There are {{ outstandingInvoices }} invoices requiring your attention.</span> </a>
            </div>
        </div>  
        {% else %}

        <div class="ui icon message">
            <i class="thumbs up icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
              <p>All good. No actions required!</p>
            </div>
        </div>   
        {% endif %}
         </div>
    <br>
    <div class="row">
        <h1>Your Events:</h1>
    </div>
    <br>
   
    <div class="row">  
        {% if currentEvents or openForRegistrationEvents or pastEvents %}
            {% include "events/eventRow.html" with comps=currentEvents rowHeading="Currently registered events:" %}
            <br>
            {% include "events/eventRow.html" with comps=openForRegistrationEvents rowHeading="Open for registration:" %}
            <br>
            {% if pastEvents %}
                {% include "events/eventRow.html" with comps=pastEvents rowHeading="Past events:" %}
            {% endif %}
        {% else %}
        <div class="ui icon warning message">
            <i class="frown icon"></i>
            <div class="content">
              <div class="header">
                No Events
              </div>
              <p> Sorry! No Events could be found. Check back later.</p>
            </div>
        </div>
    {% endif %}
    </div>

    {% if not 'viewAll' in request.GET %}
    <br>
    <div>
        <a href="?viewAll="><button class="ui primary button">View events from all states</button></a>
    </div>
    {% endif %}

</div>
{% endblock %}