{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> RCJA Home </title>

<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }

    .upComingImageContainer{
        height: 15rem;
        width: 100%;
        background-color:gray;
    }
    .upComingEventImage{
        height: 10rem;
        background-color: gray;
    }
    .mapContainer{
        height: 10rem;
        width: 100%;
        background-color:gray;
    }



</style>
{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h3>You are currently interacting as {{ request.user.currentlySelectedSchool.name|default:"independent" }}.</h3><br>
    </div>
    <div class="row">
        {% if outstandingInvoices %}
            <div class="ui icon message">
            <i class="ui dollar icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
               <a href = "{% url 'invoices:summary' %}"> <span>
                   {% if outstandingInvoices == 1 %}
                   There is {{ outstandingInvoices }} invoice requiring your attention.
                   {% else %}
                   There are {{ outstandingInvoices }} invoices requiring your attention.
                   {% endif %}
                </span></a>
            </div>
        </div>  
        {% else %}

        <div class="ui icon message">
            <i class="thumbs up icon"></i>
            <div class="content">
              <div class="header">
                Invoices
              </div>
              <p>All payments are up to date, no action required.</p>
            </div>
        </div>   
        {% endif %}
         </div>
    <br>
    <div class="row">
        <h1>Your Events:</h1>
    </div>
    <br>
   
    <div class="row"> 
        <div class = "ui segment">
            <h3> Your next Event </h3>
        <div class = "ui divider"> </div>
        <div class = "ui grid">
            <div class = "ui row">
                <div class = "ui four wide column">
                    <div class = "upComingImageContainer"> 
                        <img src = "upComingImage">
                    </div>
                </div>
                <div class = "ui twelve wide column grid">
                    <div class = "ui four wide column">
                        <div class = "row">
                            <div class = "row">
                                <h4> Robocup States 2019 </h4> 
                            </div>
                            <div class = "row">
                                Begins in 6 months
                            </div>
                            <div class = "row">
                                22 Forest Hill South Yarra VIC 3010
                            </div>
                            <div class = "row">
                                9898 attending
                            </div>
                        </div>
                    </div>
                    <div class = "ui seven wide column"> </div>
                    <div class = "ui four wide column">
                        <div class = "mapContainer">
                            Map here
                        </div>
                    </div>
                    <div class = "ui row divider ">
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>

</div>
{% endblock %}