{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> {{event}} </title>

{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>{% if event.boolWorkshop %}Workshop: {% endif %}{{event}}</h1>
    </div>

    <div class="row">
        <h3>Dates</h3>
        <p>Start date: {{event.startDate}}</p>
        <p>End date: {{event.endDate}}</p>
        <p>Registrations close: {{event.registrationsCloseDate}}</p>
        {% if not event.boolWorkshop %}<h3>Max members per team: {{ event.maxMembersPerTeam }}</h3>{% endif %}
        <h3>Direct enquiries to: {{ event.directEnquiriesTo.get_full_name }}, <a href="mailto:{{ event.directEnquiriesTo.email }}">{{ event.directEnquiriesTo.email }}</a></h3>
        <h3>Payment</h3>
        <p>
            This event costs ${{event.event_defaultEntryFee}} {% if event.entryFeeIncludesGST %}(including GST){% else %}(excluding GST){% endif %} per {{ billingTypeLabel }}.
            {% if event.event_specialRateNumber %}<br>A special price of ${{ event.event_specialRateFee }} {% if event.entryFeeIncludesGST %}(including GST){% else %}(excluding GST){% endif %} applies to the first {{ event.event_specialRateNumber }} {{ billingTypeLabel }}s that your school enters, measured across all campuses.{% endif %}
            {% if divisionPricing %}<br>Some divisions have different prices, please see below.{% endif %}
            {% if event.event_maxTeamsPerSchool %}<br>There is a {{ event.event_maxTeamsPerSchool }} team limit per school for this event.{% endif %}
            {% if event.event_maxTeamsForEvent %}<br>There is a {{ event.event_maxTeamsForEvent }} team overall limit for this event.{% endif %}
        </p>
        {% if event.paymentDueDate %}<p>Payment due is due on {{ event.paymentDueDate }}.</p>{% endif %}
        <h3>Available divisions</h3>
        <ul>
            {% for availableDivision in event.availabledivision_set.all %}
            <li><strong>{{ availableDivision.division.name }}</strong>
                {% if availableDivision.division.description %}<br>{{ availableDivision.division.description }}{% endif %}
                {% if availableDivision.division_billingType != 'event' %}<br>This division costs ${{ availableDivision.division_entryFee }} {% if event.entryFeeIncludesGST %}(including GST){% else %}(excluding GST){% endif %} per {{ availableDivision.division_billingType }}.{% endif %}
                {% if availableDivision.division_maxTeamsPerSchool %}<br>There is a {{ availableDivision.division_maxTeamsPerSchool }} team limit per school for this division.{% endif %}
                {% if availableDivision.division_maxTeamsForDivision %}<br>There is a {{ availableDivision.division_maxTeamsForDivision }} team overall limit for this division.{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if event.details %}
        <h3>Event details</h3>
        <p> {{ event.eventDetails|escape|linebreaks }} </p>
        {% endif %}
        {% if event.venue %}
        <h3>Location: {{ event.venue.name }}</h3>
        {% if event.venue.address %}<p>{{ event.venue.address|escape|linebreaks }}</p>{% endif %}
        {% endif %}
    </div><br>

    <div class="row">
        {% if hasAdminPermissions %}
        <a href="{% url 'admin:events_event_change' event.id %}"><button class="ui primary button">View in admin</button></a>
        {% endif %}
        {% if event.registrationsOpen and event.published %}
            {% if event.boolWorkshop %}
            <a href="{% url 'workshops:create' event.id %}"><button class="ui positive button">Add attendee</button></a>
            {% else %}
            <a href="{% url 'teams:create' event.id %}"><button class="ui positive button">Add team</button></a>
            {% endif %}
        {% elif event.published %}
        <h1> Registration for this event has closed. If you need to make modifications, please contact {{ event.directEnquiriesTo.get_full_name }} (Event Coordinator) on <a href="mailto:{{ event.directEnquiriesTo.email }}">{{ event.directEnquiriesTo.email }}</a>. </h1>
        {% else %}
        <h5> Event is not published. </h5>
        {% endif %}
    </div>
    <br>

    <div>
    {% if workshopAttendees %}

    <table id="attendeeTable" class="ui celled table">
            <thead>
                <th>Attendee name</th>
                <th>Type</th>
                <th> Division</th>
                {% if showCampusColumn %}<th>Campus</th>{% endif %}
                {% if event.registrationsOpen %}<th>Actions</th>{% endif %}
            </thead>
            <tbody>
                {% for workshopAttendee in workshopAttendees %}
                <tr id="attendeeRow{{workshopAttendee.id}}">
                    <td>{{workshopAttendee.attendeeFullName}}</td>
                    <td>{{workshopAttendee.attendeeType}}</td>
                    <td>{{workshopAttendee.division}}</td>
                    {% if showCampusColumn %}<td>{{workshopAttendee.campus}}</td>{% endif %}
                    {% if event.registrationsOpen %}
                    <td>
                        <a href="{% url 'workshops:details' workshopAttendee.id %}"><button class="ui primary button">Edit/View Details</button></a>
                        <button onClick="showDeleteModal({{workshopAttendee.id}}, '{% url 'workshops:details' workshopAttendee.id %}')" class="ui negative button">Delete</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif teams %}

    <table id="teamTable" class="ui celled table">
        <thead>
            <th>Team name</th>
            <th> Division</th>
            {% if showCampusColumn %}<th>Campus</th>{% endif %}
            <th>Students</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr id="teamRow{{team.id}}">
                <td>{{team.name}}</td>
                <td>{{team.division}}</td>
                {% if showCampusColumn %}<td>{{team.campus}}</td>{% endif %}
                <td>
                    {% for student in team.student_set.all %}
                    {{student.firstName}} {{student.lastName}} ({{student.yearLevel}})
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'teams:details' team.id %}"><button class="ui primary button">View Details</button></a>

                    {% if event.registrationsOpen %}
                    <a href="{% url 'teams:edit' team.id %}?fromEvent"><button class="ui primary button">Edit</button></a>
                    {% endif %}

                    {% if team.availableFileUploadTypes %}
                    <a href = "{% url 'eventfiles:uploadFile' team.id %}" class = "ui button primary" style="margin-top:1rem;">Upload file</a>
                    {% endif %}

                    {% if event.registrationsOpen %}
                    <button onClick="showDeleteModal({{team.id}}, '{% url 'teams:edit' team.id %}')" class="ui negative button">Delete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    </div>
    <br>
</div>



<div class="ui modal">
    <div class="header">
        {% if event.boolWorkshop %}
        Delete workshop attendee
        {% else %}
        Delete team
        {% endif %}
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Are you sure?</div>
            {% if event.boolWorkshop %}
            <p> Deleting a workshop attendee is an irreversable action. Are you sure that this is the team you want to delete?</p>
            {% else %}
            <p> Deleting a team is an irreversable action. Are you sure that this is the team you want to delete?</p>
            {% endif %}
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">No, cancel</div>
        <button id="deleteConfirm" class="ui negative right button">Yes, I'm certain</button>
    </div>
</div>

<script>
    // $(document).ready(function () {
    //     $('#teamTable').DataTable();
    // });
    function showModal() {
        $('.ui.modal').modal('show');
    }

    function deleteTeam(id, url) {
        $.ajax({
            type: "DELETE",
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
        })
            .done((data) => $('#teamRow' + id).remove())
            .fail((data) => alert('Unexpected Error!' + data))
    }

    function showDeleteModal(id, url) {
        $('#deleteConfirm').attr('onClick', "deleteTeam(" + id + ",'" + url + "');");
        showModal()
    }
</script>
{% endblock %}