{% extends 'common/loggedInbase.html' %}

{% block head %}
<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>Payments</h1>
    </div>
    <br>
    <div class="row">
        <h1>Your Events</h1>
    </div>
    <br>
    <div class="row">
        {% include "events/eventRow.html" with comps=currentEvents rowHeading="Current events" %}
        <br>
        {% include "events/eventRow.html" with comps=openForRegistrationEvents rowHeading="Open for registration" %}
        <br>
        {% include "events/eventRow.html" with comps=pastEvents rowHeading="Past events" %}
    </div>
</div>
{% endblock %}