{% extends 'common/loggedInbase.html' %}


{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>{{event}}</h1>
    </div>
    <br>
    {% for team in teams %}
    <div>
            <h5>{{team.name}} - {{team.division}}</h5>
            <table class = "ui celled table">
                <thead>
                    <th> First Name</th>
                    <th> Last Name</th> 
                    <th> Year Level</th>
                    <th> Gender </th>
                    <th> Birthday </th>
                </thead>
                <tbody>
                    {% for student in team.student_set.all %}
                        <tr>
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.yearLevel}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{student.birthday}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}