<head>
    <meta charset="utf-8" />
    <title>Events list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>


<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }
</style>

<div class="ui aligned container">
    <div class="row">
        <h1>Payments</h1>
    </div>
    <br>
    <div class="row">
        <h1>Your Events</h1>
    </div>
    <br>
    <div class="row">
        {% include "events/eventRow.html" with comps=currentEvents rowHeading="Current events" %}
        <br>
        {% include "events/eventRow.html" with comps=openForRegistrationEvents rowHeading="Open for registration" %}
        <br>
        {% include "events/eventRow.html" with comps=pastEvents rowHeading="Past events" %}
    </div>
</div>