<head>
    <meta charset="utf-8" />
    <title>{{event}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>


<div class="ui aligned container">
    <div class="row">
        <h1>{{event}}</h1>
    </div>
    <br>
    {% for team in teams %}
    <div>
            <h2>{{team.name}} - {{team.division}}</h2>
            {% for student in team.student_set.all %}
            <div>
                {{student.firstName}} {{student.lastName}} {{student.yearLevel}} {{student.gender}} {{student.birthday}}
            </div>
            {% endfor %}
    </div>
    <br>
    {% endfor %}
</div>