{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> {{event}} </title>

{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>{% if event.boolWorkshop %}Workshop: {% endif %}{{event}}</h1>
    </div>

    <div class="row">
        <h2>Dates</h2>
        <p>Start date: {{event.startDate}}</p>
        <p>End date: {{event.endDate}}</p>
        <p>Registrations close: {{event.registrationsClose}}</p>
        <h2>Event details</h2>
        <p> {{ event.eventDetails|escape|linebreaks }} </p>
        <h2>Location</h2>
        <p> {{ event.location|escape|linebreaks }} </p>
        {% if not event.boolWorkshop %}<h2>Max members per team: {{ event.maxMembersPerTeam }}</h2>{% endif %}
        <h2>Direct enquiries to: {{ event.directEnquiriesTo.get_full_name }}, {{ event.directEnquiriesTo.email }}</h2>
        {% if event.paymentDueDate %}<h2>Payment due: {{ event.paymentDueDate }}</h2>{% endif %}
        <h2>Available divisions</h2>
        <ul>
            {% for availableDivision in event.availabledivision_set.all %}
            <li><strong>{{ availableDivision.division.name }}{% if availableDivision.division.description %}: </strong>{{ availableDivision.division.description }}{% else %}</strong>{% endif %}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div class="row">
        {% if event.registrationsCloseDate >= today %}
        <a href="{% url 'teams:create' event.id %}"><button class="ui primary button">
            {% if event.boolWorkshop %}
            Add workshop attendee
            {% else %}
            Add team
            {% endif %}
        </button> </a>
        {% else %}
        <h5> Registration for this event has closed. If you need to make modifications, please contact your event supervisor. </h5>
        {% endif %}
    </div>
    <br>
    <div>
        <table id="eventTable" class="ui celled table">
            <thead>
                <th>{% if event.boolWorkshop %}Attendee{% else %}Team Name{% endif %}</th>
                <th> Division</th>
                <th> Campus</th>
                {% if not event.boolWorkshop %}<th> Students</th>{% endif %}
                {% if event.registrationsCloseDate >= today %}
                <th> Actions </th>
                {% endif %}
            </thead>
            <tbody>
                {% for team in teams %}
                <tr id="teamRow{{team.id}}">
                    <td>{{team.name}}</td>
                    <td>{{team.division}}</td>
                    <td>{{team.campus}}</td>
                    {% if not event.boolWorkshop %}<td>
                        {% for student in team.student_set.all %}
                        {{student.firstName}} {{student.lastName}} ({{student.yearLevel}})
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>{% endif %}
                    {% if event.registrationsCloseDate >= today %}
                    <td>
                        <a href="{% url 'teams:edit' team.id %}"><button class="ui primary button">Edit/View Details</button></a>
                        <button onClick="showDeleteModal({{team.id}}, '{% url 'teams:delete' team.id %}')" class="ui negative button">Delete</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</div>



<div class="ui modal">
    <div class="header">
        {% if event.boolWorkshop %}
        Delete workshop attendee
        {% else %}
        Delete team
        {% endif %}
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Are you sure?</div>
            {% if event.boolWorkshop %}
            <p> Deleting a workshop attendee is an irreversable action. Are you sure that this is the team you want to delete?</p>
            {% else %}
            <p> Deleting a team is an irreversable action. Are you sure that this is the team you want to delete?</p>
            {% endif %}
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">No, cancel</div>
        <button id="deleteConfirm" class="ui negative right button">Yes, I'm certain</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#eventTable').DataTable();
    });
    function showModal() {
        $('.ui.modal').modal('show');
    }

    function deleteTeam(id, url) {
        $.ajax({
            type: "DELETE",
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
        })
            .done((data) => $('#teamRow' + id).remove())
            .fail((data) => alert('Unexpected Error!' + data))
    }

    function showDeleteModal(id, url) {
        $('#deleteConfirm').attr('onClick', "deleteTeam(" + id + ",'" + url + "');");
        showModal()
    }
</script>
{% endblock %}