{% extends 'common/loggedInbase.html' %}

{% block head %}
<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>Payments</h1>
    </div>
    <br>
    <div class="row">
        <h1>Your Events:</h1>
    </div>
    <br>
    <div class="row">  
        {% if currentEvents or openForRegistrationEvents or pastEvents %}
            {% include "events/eventRow.html" with comps=currentEvents rowHeading="Currently running events:" %}
            <br>
            {% include "events/eventRow.html" with comps=openForRegistrationEvents rowHeading="Open for registration:" %}
            <br>
            {% if pastEvents %}
                {% include "events/eventRow.html" with comps=pastEvents rowHeading="Past events:" %}
            {% endif %}
        {% else %}
            <h1> Sorry! No current or past events. Check back later! </h1>
        {% endif %}
    </div>
</div>
{% endblock %}