<div class="row">
    <h2> {{rowHeading}} </h2>
    <div class="ui special cards equal width grid" style="margin-left:1rem;">
        {% for event in comps %}
        <div class="card" style="max-width:19rem; cursor: pointer;" onclick="window.location='{% url 'events:details' event.id %}';">
            <div class="blurring dimmable image">
                <img class="cardimage" src="/static/placeholderCity.png">
            </div>
            <div class="content">
                <span class="header">{{event}}</span>
                <div class="meta">
                    <span class="date">{{event.startDate}} - {{event.endDate}} Registrations close: {{event.registrationsCloseDate}}</span>
                </div>
                <div class="cardcontent">
                    {% if event.boolWorkshop %}
                    This event is a workshop.
                    <br>
                    {% endif %}
                    Available divisions: {{ event.availabledivision_set.all|join:", " }}
                </div>
            </div>
            <div class="extra content">
                <!-- <a>
                    <i class="users icon"></i>
                    {{event.team_set.count}} Team(s) 
                </a>
                <span class="right floated">
                        Location: {{event.location}}
                    <i class="map marker icon"></i>        
                </span> -->
            </div>
        </div>
        {% empty %}
        <div class="ui icon message">
            <i class="frown icon"></i>
            <div class="content">
                <div class="header">
                    No Events
                </div>
                <p> Sorry! No Events could be found. Maybe Sign up for an event, or check back later.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>