{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Terms and Conditions </title>
<style type="text/css">
    body {
        background-color: #ffffff;
    }

    .column {
        max-width: 100%;
    }

    .logincontent {
        padding-top: 10%;
    }

    .bg {
        background-image: url('/static/homeimage2.jpg');
        /* Full height */
        height: 100%;
        width: auto;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-color: #CCE2FF;*/
    }

    .left-aligned-text {
        text-align: left;
    }
</style>
{% endblock %}

{% block content %}

<p><strong>RoboCup Junior (Australia) Inc. (RCJA) Privacy statement, as at 13 February 2018</strong><br />1. We value your privacy</p>
<p>The RCJA Privacy Statement (Privacy Statement) sets out RCJA's policies in relation to the management of your personal information. The Privacy Statement may be reviewed and updated from time to time to ensure it remains appropriate to the changes in RCJA's environment and in line with legislation. <br />2. Collection</p>
<p>RCJA collects personal information (Information) about students, mentors, members and other people in order to perform its functions and activities. Information may be collected before, during and after the course of persons association with RCJA.</p>
<p>3. Use and disclosure<br />RCJA will use Information it collects from you for the primary purpose of collection, and for such other secondary purposes that are related to the primary purpose of collection and reasonably expected, or to which you have consented. <br />Examples of purposes for which the School might use or disclose Information:<br />- Research by RCJA's affiliates.<br />- Marketing by RCJA's affiliates, however student information will not be disclosed for marketing purposes.</p>
<p>4. Access and correction<br />You are encouraged to ensure the information you spply to RCJA is kept up-to-date. If you know that details have changed, please let us know. Should you wish to update your Information, please contact RCJA at the address listed in point 5.</p>
<p>5. Security of Information<br />RCJA takes reasonable steps to protect the Information it holds from misuse and/or loss and unauthorised access, modification and disclosure, including through the use of security certificates and password protection for access to electronic records.</p>
<p>6. Inquiries<br />Should you have any questions in relation to the RCJA Privacy Statement, please contact RCJA via mail. Our registered address is 117 Clifton Springs Road, Drysdale, Victoria 3222.</p>
<p>7. This privacy statement and all of our legal notices will be governed by and construed in accordance with the laws of Victoria, Australia and you agree to submit to the jurisdiction of the courts of that State.</p>
<p><strong>Access to RoboCup Junior (Australia) Inc. (RCJA) systems is subject to the following conditions:</strong></p>
<p>1. You will provide correct information and keep it up to date.</p>
<p>2. Collection of information, and its use and disclosure will be subject to the RCJA Privacy Policy, as stated above.</p>
<p>3. You will keep information contained on this site about others in the RCJA community confidential and not share the information with any other person, even with other members of the RCJA community. However, it is acknowleded that RCJA Committee and Subcommittee Members may be at times required to share information to allow RCJA to perform its functions.</p>
<p>4. You will use contact details contained on this site to communicate with others in the RCJA community about RCJA related matters only, in a respectful and civil manner, at reasonable times.</p>
<p>5. You will not use personal information including contact details available from this site to: <br />a. harass, stalk, threaten, spam or unreasonably contact anyone in the RCJA community; <br />b. distribute unsolicited advertising material, including commercial, religious or political material; <br />c. distribute defamatory, pornographic, discriminatory, offensive or illegal material, or material that breaches third party intellectual property rights.</p>
<p>6. Where you provide personal information relating to another person, you warrant that you have authority to do so.</p>
<p>7. We are not responsible for ensuring the accuracy of information provided by other people, including other parents or guardians.</p>
<p>8. We are not responsible for any loss or damage resulting from our reliance on information provided by you through this website.</p>
<p>9. We are not responsible for any loss or damage suffered by you in reliance on information published on this website.</p>
<p>10. You must not use any robots, spiders or webcrawlers or similar devices with respect to this website. You must not bypass any security mechanisms imposed by this website.</p>
<p>11. We may change or abolish RCJA systems at any time. 14. You must safeguard your log-in name and password carefully. You must not disclose it to any other person and you must notify us immediately if your long-in name and password are misused or become disclosed so that we can provide you with different log-in details. You are responsible and liable for any other person using your log-in name and password, and these Terms &amp; Conditions will apply to such use as if the use was made by you.</p>
<p>12. We may change these terms and conditions at any time, and require you to agree to be bound by the changed terms and conditions before you can continue to use RCJA systems.</p>
<p>13. We may suspend your access to RCJA systems if we suspect that you have breached these terms and conditions, prior to us investigating the matter fully.</p>
<p>14. We may suspend or terminate your access to RCJA systems if we believe that you have breached these terms and conditions.</p>
<p>15. Use of all RCJA systems and all of our legal notices will be governed by and construed in accordance with the laws of Victoria, Australia and you agree to submit to the jurisdiction of the courts of that State.</p>
<p>Last updated 3rd April 2018</p>
<a href="/"><button class="ui large blue button"> Home </button> </a>

{% endblock %}