<div class="row">
    <h2> {{rowHeading}} </h2>
    <div class="ui special cards four width column">
        {% for competition in comps %}
        <div class="card">
            <div class="blurring dimmable image">
                <img class="cardimage" src="/static/placeholderCity.png">
            </div>
            <div class="content">
                <a href="{% url 'competitions:detail' competition.id %}" class="header">{{competition}}</a>
                <div class="meta">
                    <span class="date">{{competition.startDate}} - {{competition.endDate}} Registrations close:
                        {{competition.registrationsCloseDate}}</span>
                </div>
                <div class="cardcontent">
                    <!-- <div style="float:right;">
                        <a href="/competitions/{{competition.id}}"><button class="ui button green"> Teams -></button></a>
                    </div> -->
                    <div>
                        {% if competition.compDetails %}
                        {{competition.compDetails}}
                        {% else %}
                        {{competition.name}} Location: {{competition.location}}
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    <!-- {{competition.team_set.count}} Teams -->
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>