<head>
    <meta charset="utf-8" />
    <title>Competitions list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>


<style>
    .cardcontent {
        margin-top: 10px;
    }

    .cardimage {
        max-height: 150px;
    }
</style>

<div class="ui aligned container">
    <div class="row">
        <h1>Payments</h1>
    </div>
    <br>
    <div class="row">
        <h1>Your Events</h1>
    </div>
    <br>
    <div class="row">
        {% include "competitions/compRow.html" with comps=currentCompetitions rowHeading="Current competitions" %}
        <br>
        {% include "competitions/compRow.html" with comps=openForRegistrationCompetitions rowHeading="Open for registration" %}
        <br>
        {% include "competitions/compRow.html" with comps=pastCompetitions rowHeading="Past competitions" %}
    </div>
</div>