{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> Invoices </title>

{% endblock %}

{% block content %}
<div class="ui aligned container">
    <div class="row">
        <h1>Your Invoices</h1>
    </div>
    <br>
    <div>
        <table id = "invoiceTable" class = "ui celled table">
            <thead>
                <th> Invoice </th>
                <th> Event </th>
                <th> Invoice to</th>
                <th> School </th>
                <th> Campus </th>
                <th> PO Number </th>
                <th> Invoice amount </th>
                <th> Amount due (EFT) </th>
                <th> Amount due (PayPal) </th>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr id = "invoiceRow{{invoice.id}}">
                        <td><a href="{% url 'invoices:detail' invoice.id %}" target="_blank">View invoice</a></td>
                        <td><a href="{% url 'events:summary' invoice.event.id %}">{{invoice.event}}</a></td> 
                        <td>
                            <span id = "invoice-to-{{invoice.id}}">{{invoice.invoiceToUser.fullname_or_email}}</span>
                            {% if invoice.invoiceToUser != user %}
                            <br>
                            <span id = "invoice-to-button-{{invoice.id}}"><button onclick = setInvoiceTo({{invoice.id}}) class = "ui button primary" > Change to me </button></span>
                            {% endif %}
                        </td>
                        <td>{{invoice.school}}</td>
                        <td>
                            {{invoice.campus}}
                            {% if invoice.campusInvoicingAvailable %}
                            <br>
                            <button onclick = showCampusModal({{invoice.id}}) class = "ui button primary"> Invoice by campus </button>
                            {% endif %}
                        </td>
                        <td >
                            <span id = "inv-po-{{invoice.id}}">{{invoice.purchaseOrderNumber}}</span>
                            <br>
                            <button onclick = showPOModal({{invoice.id}}) class = "ui button primary"> Set </button>
                        </td>
                        <td>${{invoice.invoiceAmountInclGST|floatformat:2}}</td>
                        <td>${{invoice.amountDueInclGST|floatformat:2}}</td>
                        <td>${{invoice.amountDueInclGST|floatformat:2}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</div>



<div class="ui modal poNumber">
    <div class="header">
        Set/Edit Invoice PO Number
    </div>
    <div class="image content">
        <div class="description" id ="POContent">
          <div id = "POErrors"></div>
          <div class="ui header">You are setting a purchase order number.</div>
          <form class="ui form" id = "POCreation">
              {% csrf_token %}
            <input type = "hidden" id = "invoiceNumber" name = "invoiceNumber"> </input>
            <div class="field">
                <label>Number</label>
                <input name = "PONumber" class = "ui input"> </input>
            </div>
          </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
        Cancel
        </div>

        <button id = "confirm" class="ui positive right button">
        Set Number
        </button>
    </div>
</div>

<div class="ui modal campus">
    <div class="header">
        Enable campus invoicing
    </div>
    <div class="image content">
        <div class="description" id ="POContent">
            <div id = "campusErrors"></div>
            <div class="ui header">Are you sure you want to enable campus based invoicing? This can't be undone.</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
        Cancel
        </div>

        <button id = "confirm" class="ui positive right button">
        Enable campus invoicing
        </button>
    </div>
</div>
    
<script> 
    function showPOModal(invoiceNumber) {
        $('#invoiceNumber').val(invoiceNumber)
        $('.ui.modal.poNumber').modal({
            closable  : false,
            onDeny    : () => true,
            onApprove : () => setPONum(invoiceNumber)
        })
.modal('show'); 
    }

    function showCampusModal(invoiceNumber) {
        $('#invoiceNumber').val(invoiceNumber)
        $('.ui.modal.campus').modal({
            closable  : false,
            onDeny    : () => true,
            onApprove : () => setCampusInvoicing(invoiceNumber)
        })
.modal('show'); 
    }

    function setPONum(invoiceNumber) {
        $.ajax({
            type: "POST",
            url: invoiceNumber + "/setPONumber",
            data: $("#POCreation").serialize()
        })
            .done( (data) => {
                $("#inv-po-"+invoiceNumber).html(data.number)

                $('.ui.modal.poNumber').modal('hide');
            } )
            .fail( (data) => {
                $("#POErrors").empty()
                for(key in data.responseJSON.errors) {
                data.responseJSON.errors[key].map( (error) => {
                    $("#POErrors").prepend("<div class = 'ui message' >" + capitalize(key) + ": " + error + " </div>")

                })
                }
            })
            return false //needed to stop modal from closing
        }
        const capitalize = (s) => {
            if (typeof s !== 'string') return ''
            return s.charAt(0).toUpperCase() + s.slice(1)
        }

    function setCampusInvoicing(invoiceNumber) {
        $.ajax({
            type: "POST",
            url: invoiceNumber + "/setCampusInvoice",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        })
            .done( (data) => {
                $('.ui.modal.campus').modal('hide');
                window.location.reload();
            } )
            return false //needed to stop modal from closing
        }

        function setInvoiceTo(invoiceNumber) {
            $.ajax({
                type: "POST",
                url: invoiceNumber + "/setInvoiceTo",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            })
            .done( (data) => {
                $("#invoice-to-"+invoiceNumber).html(data.invoiceTo)
                $("#invoice-to-button-"+invoiceNumber).html("")
            })
        }
</script>


<script> 
    $(document).ready( function () {
        $('#invoiceTable').DataTable();
    } );
    </script>
{% endblock %}