{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> Changelog </title>

<style>
 .left-aligned-text {
  text-align: left;
}
</style>
{% endblock %}

{% block content %}

<div class="bg">
  <div class = "">
    <div class="ui center aligned grid ">
      <div class = "twelve wide mobile six wide computer column ui">
        <h1>Changelog</h1>
        <p>Content</p>
        <a href="/"><button class="ui large blue button"> Home </button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
