{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title>Logged Out</title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
  <div class = "layer">
    <div class = "logincontent">
      <div class="ui center aligned grid ">
        <div class = "twelve wide mobile four wide computer column ui segment">
          <div class = "form-group ">
            <div>
              <h1>Robocup Australia</h1>
              <h4>You have been logged out</h4>
              <div class = "ui large form">
                <a href="{% url 'login' %}"><button class = "ui large teal button" type="" value="Sign Up">Log in again</button> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}