<!-- templates/registration/login.html -->
<head>
  <meta charset="utf-8" />
  <title>Semantic UI CDN</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>

{% load static %}
<title>MHS Robotics </title>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<style type="text/css">
  body {
    background-color: #ffffff;
  }
  .column {
    max-width: 100%;
  }
  .logincontent {
    padding-top: 10%;
  }
  .bg {
    background-image: url('/static/homeimage2.jpg');
      /* Full height */
    height: 100%; 
    width:auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #CCE2FF;*/
  }
  .left-aligned-text {
  text-align: left;
}
</style>
<div class="bg">
<div class = "logincontent">
  <div class="ui center aligned grid ">

    <!--<div class = "two wide column">
        <img src=/static/homeimage.png style = "max-width:100%;
        height:auto;">
    </div>-->
    <div class = "twelve wide mobile four wide computer column ui segment">
        <div class = "form-group ">
          <div>
            <h1> Robocup Australia</h1>
            <h5> Mentor login or signup</h5>
            <h4>Please Login</h4>
            {% if form.errors %}
            <!-- Error messaging -->
            <div class="ui warning message left-aligned-text">
              <div class="">
                <p class = "header">There were some errors in the information you entered. Please correct the following:</p>
                {{ form.non_field_errors }}
                <ul>
                  {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /Error messaging -->
          {% endif %}
            <form class = "ui large form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form.username }}
                  </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      {{ form.password }}
                    </div>
                  </div>
                  <button class = "ui large teal submit button" type="submit" value="Login"> Login</button>
                  <button class = "ui large teal submit button" type="submit" value="Sign Up"> Sign up </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>