{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Password reset </title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
    <div class="layer">
        <div class="logincontent">
            <div class="ui center aligned container grid">
                <div class="twelve wide mobile four wide computer column ui segment">
                    <p>
                        Your password has been set.
                    </p>
                    <a href="{% url 'login' %}"><button class="ui large blue button"> Login </button> </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}