{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Password reset </title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
    <div class = "layer">
        <div class="logincontent">
            <div class="ui center aligned container grid">
                <div class="twelve wide mobile four wide computer column ui segment">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you
                        entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                    <a href="{% url 'login' %}"><button class="ui large blue button"> Home </button> </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}