{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Password reset </title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
    <div class="layer">
        <div class="logincontent">
            <div class="ui center aligned container grid">
                <div class="twelve wide mobile eight wide computer column ui segment">

                    {% if validlink %}
                    <div class="form-group ">
                        <h3>Change password</h3>
                        <div class="ui form large">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="ui large blue submit button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    <a href="{% url 'login' %}"><button class="ui large blue button" type="" value="Sign Up"> Home
                        </button> </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}