{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Password reset </title>
<style type="text/css">
    body {
        background-color: #ffffff;
    }

    .column {
        max-width: 100%;
    }

    .logincontent {
        padding-top: 10%;
    }

    .bg {
        background-image: url('/static/homeimage2.jpg');
        /* Full height */
        height: 100%;
        width: auto;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-color: #CCE2FF;*/
    }

    .left-aligned-text {
        text-align: left;
    }
</style>
{% endblock %}

{% block content %}
<div class="bg">
    <div class="logincontent">
        <div class="ui center aligned container grid">

            <!--<div class = "two wide column">
        <img src=/static/homeimage.png style = "max-width:100%;
        height:auto;">
    </div>-->
            <div class="twelve wide mobile four wide computer column ui segment">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
                <a href="{% url 'login' %}"><button class="ui large blue button"> Home </button> </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}