{% extends 'common/loggedInbase.html' %}

{% block head %}

<title> Change Password </title>

{% endblock %}

{% block content %}
<div class = "ui center aligned container" style="margin-top:10rem;">
    {% if request.user.forcePasswordChange %}
    <div class="ui warning message">
        <div class="Warning">
            <b>Please change your password</b>
        </div>
        <p>You have been redirected to this page because an administrator has asked you to change your password.</p>
        <p>Please change your password, you must do this before you can use the rest of the site.</p>
    </div>
    {% endif %}
    <h1> Change Password</h1>
    <div style="text-align: left;">
        {% include 'common/genericFormInclude.html'%}
    </div>
</div>
{% endblock %}