{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title> Password reset </title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
    <div class = "layer">
        <div class="logincontent">
            <div class="ui center aligned container grid">
                <div class="twelve wide mobile six wide computer column ui segment">
                    <div class="form-group ">
                        <div>
                            <h1> Robocup Australia</h1>
                            <h3> Password reset</h3>
                            <div class="ui form large">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="field">
                                        <label>Email</label>
                                        {{ form.email }}
                                    </div>
                                    </div>

                                    <button class="ui large blue submit button" type="submit">Submit</button>
                                </form>
                                <a href = "{% url 'login' %}"><button class = "ui large red button" type="" value="Sign Up"> Cancel </button> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}