{% extends 'common/loggedInbase.html' %}
{% load widget_tweaks %}

{% block head %}

<title> Profile </title>

<style>
 .left-aligned-text {
  text-align: left;
}
</style>
{% endblock %}

{% block content %}

<div class="bg">
  <div class = "">
    <div class="ui center aligned grid ">
      <div class = "twelve wide mobile six wide computer column ui">
        <div class = "form form-group left-aligned-text">
        <h1> Edit Profile </h1>
            {% if form.errors %}
            
            <!-- Error messaging -->
            <div class="ui message left-aligned-text">
              <div class="">
                <p class = "header">There were some errors in the information you entered. Please correct the following:</p>
                {{ form.non_field_errors }}
                
                <ul>
                  {% for field in form %}
                    {% if field.errors %}
                  <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                  {% endfor %}
                
                </ul>
              </div>
            </div>
            <!-- /Error messaging -->
            {% endif %}
          
            <form method="post" class = "ui form">
              {% csrf_token %}
                
              <h4 class="ui dividing header">Details</h4>
               
              <div class="two fields">
                <div class = "field">
                  <label>First Name: </label>
                    {{form.first_name|attr:"placeholder:First Name"}}
                </div>
                <div class = "field">
                  <label> Last Name: </label>
                    {{form.last_name|attr:"placeholder:Last Name"}}
                </div>
              </div>
              <div class="field">
                <label> Mobile Number </label>
                {{form.mobileNumber|attr:"placeholder:Mobile Number"}}
              </div>
              <div class="field">
                <label> Email </label>
                {{form.email|attr:"placeholder:Email"}}
              </div>
              <div class="two fields">
                <div class = "field">
                  <label>Home state: </label>
                    {{form.homeState}}
                </div>
                <div class = "field">
                  <label> Home region: </label>
                  {{form.homeRegion}}
                </div>
              </div>
              <input class="primary ui button" type="submit" value="Save" />
            </form>
            <a href ="/"><button class = "ui button negative"> Cancel</button></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
{% endblock %}