{% extends 'common/loggedInbase.html' %}
{% load widget_tweaks %}

{% block head %}

<title> My details </title>

<style>
 .left-aligned-text {
  text-align: left;
}
</style>
{% endblock %}

{% block content %}

<div class="bg">
  <div class = "">
    <div class="ui center aligned grid ">
      <div class = "twelve wide mobile six wide computer column ui">
          {% if request.user.forceDetailsUpdate %}
          <div class="ui warning message">
              <div class="Warning">
                  <b>Please confirm your details</b>
              </div>
              <p>You have been redirected to this page because an administrator has asked you to confirm your details.</p>
              <p>Please review the information below carefully, you must do this before you can use the rest of the site.</p>
          </div>
          {% endif %}
        <div class = "form form-group left-aligned-text">
        <h1> My details </h1>
            {% if form.errors %}
            
            <!-- Error messaging -->
            <div class="ui message left-aligned-text">
              <div class="">
                <p class = "header">There were some errors in the information you entered. Please correct the following:</p>
                {{ form.non_field_errors }}
                
                <ul>
                  {% for field in form %}
                    {% if field.errors %}
                  <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                  {% endfor %}
                
                </ul>
              </div>
            </div>
            <!-- /Error messaging -->
            {% endif %}
          
            <form method="post" class = "ui form">
              {% csrf_token %}
              {{ questionFormset.management_form }}

              <div class="two fields">
                <div class = "field">
                  <label>First Name: </label>
                    {{form.first_name|attr:"placeholder:First Name"}}
                </div>
                <div class = "field">
                  <label> Last Name: </label>
                    {{form.last_name|attr:"placeholder:Last Name"}}
                </div>
              </div>
              <div class="field">
                <label> Mobile Number </label>
                {{form.mobileNumber|attr:"placeholder:Mobile Number"}}
              </div>
              <div class="field">
                <label> Email </label>
                {{form.email|attr:"placeholder:Email"}}
              </div>
              <div class="two fields">
                <div class = "field">
                  <label>Home state: </label>
                    {{form.homeState}}
                </div>
                <div class = "field">
                  <label> Home region: </label>
                  {{form.homeRegion}}
                </div>
              </div>

              <!-- Questions -->
              {% if questionFormset.errors %}
                <div class="ui message left-aligned-text">
                    <p class = "header">There were some errors in the information you entered. Please correct the following:</p>
                    {{ questionFormset.non_form_errors }}
                </div>
              {% endif %}
              {% for questionForm in questionFormset %}
              {{questionForm.id|attr:"type:hidden"}}
              {{ questionForm.user }}
              {{ questionForm.question }}
              <div class="ui segment">
                  <!-- <h4 class="ui dividing header">Campus {{forloop.counter}}</h4> -->
                  {% if questionForm.errors %}
                  <div class="ui message left-aligned-text">
                      <p class="header">There were some errors in the information you entered. Please correct the following:</p>
                      <ul>
                          {% for field in questionForm %}
                          {% if field.errors %}
                          <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
                  {% endif %}


                  <div class="field">
                    <label> {{questionForm.response.label}}</label>
                    {{questionForm.response}}
                  </div>

              </div>
              {% endfor %}

              <input class="primary ui button" type="submit" name="continue_editing"  value="Save" />
              <input class="primary ui button" type="submit" value="Save and exit" />
              <a href = "{% url 'events:dashboard' %}" class = "ui button negative" style="margin-top:1rem;">Cancel</a>
            </form>

            <!-- School details -->
            {% if not user.forceDetailsUpdate %}
            {% if schools %}
            <h2>You are an administrator of the following schools:</h2>
            <ul>
              {% for school in schools %}
              <li>{{ school }}</li>
                {% endfor %}
            </ul>
            <h3>You can change which school you are currently editing with the dropdown in the top right corner (if you are an administrator of multiple schools).</h3>              
            {% else %}
            <h2>You are not currently the administrator of any schools.</h2>
            <p>If you are the first mentor in you school, create a school by clicking the button below.</p>
            <p>If you are an independent skip this step, you can register teams as an individual.</p>
            <p>If someone else has already registered your school ask them to add you as an administrator.</p>
            <p>If you don't know who your school administrator is please contact us, please do not create a duplicate school.</p>
            {% endif %}

            <a href ="{% url 'schools:create' %}"><button class = "ui button primary">Create school</button></a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
