{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
{% load static %}
<title> Create account </title>
{% include 'common/loginBase.html'%}
{% endblock %}

{% block content %}
<div class="bg">
  <div class = "layer">
    <div class="logincontent">
      <div class="ui center aligned container ">

        <div class="twelve wide mobile six wide computer column ui segment formbox">
          <div class="form form-group left-aligned-text">
            <div>
              <h1> Robocup Australia - Mentor Signup</h1>
              <h2>Please enter your details</h2>

              {% if form.errors %}
              <!-- Error messaging -->
              <div class="ui warning message left-aligned-text">
                <div class="">
                  <p class="header">There were some errors in the information you entered. Please correct the following:</p>
                  {{ form.non_field_errors }}
                  <ul>
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- /Error messaging -->
              {% endif %}

              <form class="ui form segment" method="POST">
                {% csrf_token %}

                <div class="field">
                  <label>Email</label>
                  {{ form.email|attr:"placeholder:Email"|attr:"type:email" }}
                </div>

                <div class="two fields">
                  <div class="field">
                    <label>First Name</label>
                    {{ form.first_name|attr:"placeholder:First Name"|attr:"type:text" }}
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    {{ form.last_name|attr:"placeholder:Last Name"|attr:"type:text" }}
                  </div>
                </div>
                <div class="field">
                  <label>Password</label>
                  {{ form.password|attr:"placeholder:Password"|attr:"type:password" }}
                </div>
                <div class="field">
                  {{ form.passwordConfirm|attr:"placeholder:Confirm password"|attr:"type:password" }}
                </div>
                <div class="two fields">
                  <div class="field">
                    <label>Home state: </label>
                    {{form.homeState}}
                  </div>
                  <div class="field">
                    <label> Home region: </label>
                    {{form.homeRegion}}
                  </div>
                </div>

                <div class="field">
                  <label> Mobile Number:</label>
                  {{ form.mobileNumber}}
                </div>

                <p>You will create your school in the next step.</p>

                <button class="ui primary submit button" type="submit" value="SignUp">Submit</button>
                <a href="/" class="ui negative button">Cancel</a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.ui.form')
      .form({
        on: 'blur',
        inline: true,
        fields: {
          registerPassword: {
            identifier: 'id_password',
            rules: [{
              type: 'empty',
              prompt: 'Please enter a password.'
            }]
          },
          registerPasswordVerify: {
            identifier: 'id_passwordConfirm',
            rules: [{
              type: 'match[id_password]',
              prompt: 'Your passwords do not match.'
            }]
          }
        }
      })
  });

</script>
{% endblock %}