{% load widget_tweaks %}
{{campusForm.id|attr:"type:hidden"}}
<div class="ui segment">
    <h4 class="ui dividing header">Campus {{forloop.counter}}</h4>
    {% if campusForm.errors %}
    <div class="ui message left-aligned-text">
        <p class="header">There were some errors in the information you entered. Please correct the following:</p>
        <ul>
            {% for field in campusForm %}
            {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="three fields">
        <div class="field">
            {{campusForm.name.label_tag}}
            {{campusForm.name}}
        </div>
        <div class="field">
            {{campusForm.postcode.label_tag}}
            {{campusForm.postcode}}
        </div>
        {% if campusFormset.can_delete %}
        <div class="field">
            <label> Delete campus</label>
            {{campusForm.DELETE}} <span>This will delete this campus.</span>
        </div>
        {% endif %}
    </div>
</div>