name: Django Tests

on: [push]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Docker Compose stack
      run: |
        docker-compose up -d
    - name: Install test dependencies
      run: |
        docker-compose exec -T web pip install flake8 coverage
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        docker-compose exec -T web flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        docker-compose exec -T web flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        docker-compose exec -T web coverage run --source='.' manage.py test --settings=rcjaRegistration.settings_test
        #pip install pytest
        #pytest
    - name: Generate code coverage report
      run: |
        docker-compose exec -T web coverage report
        docker-compose exec -T web coverage xml
    - uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}} #required
        file: ./rcjaRegistration/coverage.xml #optional
        flags: unittests #optional
        name: codecov-umbrella #optional
    - name: Tear down Docker Compose stack
      run: |
        docker-compose down
